body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

#navbar {
  display: inline-block;
  height: 100vh;
  min-width: 300px;
  overflow-y: scroll;
  border-right: 4px solid #e0dcdc;
}

#main-doc {
  height: 100vh;
  overflow-y: scroll;
  flex-basis: ;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.2em;
}

header {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  padding-top: 15px;
  padding-bottom: 0;
  padding-left: 20px;
}

ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style: none;
}

.nav-li, #navbar header {
  border-bottom: 2px solid #e0dcdc;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.nav-li a {
  font-size: 1.3em;
  padding-left: 15px;
  padding-right: 15px;
}

.main-section p {
  padding-left: 30px;
}

.main-section li {
  padding-top: 15px;
  margin-left: 100px;
  padding-left: 30px;
}

code {
  background: #e6e5e5;
  margin-left: 40px; 
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 800px) {
  body {
    display: block;
  }

  #navbar {
    position: relative;
    height: auto;
    width: 100%;
    border-right: none;
  }

  #main-doc {
    height: auto;
  }
}