body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
}

#open-col {
}

#navbar {
  display: inline-block;
  height: 100vh;
  min-width: 300px;
  overflow-y: scroll;
  border-right: 4px solid #e0dcdc;
}

#main-doc {
  height: 100vh;
  overflow-y: scroll;
  flex-basis: ;
  padding-left: 20px;
}

header {
  font-size: 1.5em;
  padding-top: 15px;
  padding-bottom: 10px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.nav-li, #navbar header {
  border-bottom: 2px solid #e0dcdc;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.nav-li a {
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 800px) {
  body {
    display: block;
  }

  #navbar {
    position: relative;
    height: auto;
    width: 100%;
    border-right: none;
  }

  #main-doc {
    height: auto;
  }
}